<section>
  <h2>CREATE NEW POST</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">TITLE</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-details">CONTENT</label>
      <input id="post-details" name="post-details" />
    </div>
    <button type="submit" class="btn">CREATE</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>YOUR POSTS</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">EDIT POST</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>